 <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>User Panel</span>
                    </div>

                    <ul>

                        <li><a href="/user/">My Account</a></li>
                        <li><a href="/user/favourites">My Favourites</a></li>
                        <li><a href="/user/orders">My Orders</a></li>
                        <li><a href="/usercomments/">My comments</a></li>
                        <li><a href="/user/products">My Products</a></li>
                        <li><a href="/logout/">logout</a></li>
                    </ul>

                </div>