{% extends 'base.html' %}
{% load static %}
{% block title %}   {{ product.title }} results {% endblock %}
{% block description %} {{ product.description}}  {% endblock %}
{% block keywords %}   {{ product.keywords}}  {% endblock %}


{% block content %}


{% load mptt_tags %}

<!-- Hero Section Begin -->
{% block header %}   {% include 'header.html' %}  {% endblock %}
<!-- Hero Section End -->

  <!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="{% static 'img/product-banner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h4>Shopping Cart</h4>
                    <div class="breadcrumb__option">
                        <b href="/home/">Home</b> /
                        <b>Shopping cart</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shoping Cart Section Begin -->
<section class="shoping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__table">
                    <table>
                        <thead>


                        <tr>
                            <th class="shoping__product">Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for rs in shopcart %}
                        <tr>
                            <td class="shoping__cart__item">
                                {% if rs.variant.image_id > 0 %}
                                <img src="{{ rs.variant.image }}" alt="">
                                {% else %}
                                <img src="{{ rs.product.image.url }}" alt="">
                                {% endif %}
                                <a href="/product/{{ rs.product.id }}/{{ rs.slug }}">{{ rs.product }} {{ rs.variant.size }}</a>
                            </td>
                            <td class="shoping__cart__price">
                                {% if rs.product.variant == 'None' %}
                                ${{ rs.product.price }}
                                {% else %}
                                {{ rs.variant.price }}
                                {% endif %}

                            </td>
                            <td class="shoping__cart__quantity">
                                <div class="quantity">
                                    <div class="pro-qty">
                                        <input type="text" value="{{ rs.quantity}}">
                                    </div>
                                </div>
                            </td>
                            <td class="shoping__cart__total">
                                {% if rs.product.variant == 'None' %}
                                ${{ rs.amount }}
                                {% else %}
                                {{ rs.varamount }}
                                {% endif %}

                            </td>
                            <td class="shoping__cart__item__close"><a href="/order/deletefromcart/{{ rs.id }}" onclick="return confirm('Delete!! Are you sure?')">
                                <span class="icon_close"></span></a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="shoping__cart__btns">
                    <a href="/index/" class="primary-btn cart-btn">CONTINUE SHOPPING</a>
                    <a href="#" class="primary-btn cart-btn cart-btn-right"><span class="icon_loading"></span>
                        Upadate Cart</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__continue">
                    <div class="shoping__discount">
                        <h5>Discount Codes</h5>
                        <form action="#">
                            <input type="text" placeholder="Enter your coupon code">
                            <button type="submit" class="site-btn">APPLY COUPON</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="shoping__checkout">
                    <h5>Cart Total</h5>
                    <ul>
                        <li>Subtotal <span>${{ total }}</span></li>
                        <li>Total <span>${{ total }}</span></li>
                    </ul>
                    <a href="/order/orderproduct" class="primary-btn">PROCEED TO CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shoping Cart Section End -->

{% endblock %}